body { font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; width: 100%; line-height: 1.2; color: #414141; background-color: #fff; line-height: 22px; width: 100%; }
    body.overflow { overflow: hidden; position: relative; }
#overlay {content: "";position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 101;background-color: rgba(0,0,0,.6);}
a { color: inherit; }
    a:hover, a:active, a:focus { text-decoration: none; color: #407274; }
.color-green { color: #87bb40 !important; }
a.color-green:hover { color: #4a6f72 !important; }
.color-white { color: #ffffff; }
.color-red { color: #ff0000; }
.background-green { background-color: #87bb40 !important; }
.background-white { background-color: #fff !important; }
.btn-green { background-color: #87bb40 !important; color: #ffffff; }
    .btn-green:hover { background-color: #4a6f72 !important; color: #ffffff; }
.background-orange { background-color: #ffba00 !important; }
.btn-orange { background-color: #ffba00 !important; color: #494949; }
    .btn-orange:hover { background-color: #ffd13e !important; color: #494949; }
.btn-black { background-color: #414141 !important; color: #fff; }
    .btn-black:hover { background-color: #282828 !important; color: #fff; }
.pagination { margin-top: 20px; margin: 15px 0; display: block; }
    .pagination:after { content: ""; display: table; clear: both; }
    .pagination > li { float: left; display: inline-block; margin-right: 5px; }
        .pagination > li > a, .pagination > li > span { border: none; background: none; color: #434343 !important; font-size: 14px; padding: 4px 12px; border: 1px solid #ddd; border-radius: 0 !important; font-weight: 600; }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { border: 1px solid #87bb40; font-weight: 700; background-color: transparent; }
    .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus { background: transparent; color: #c09f7c; }
.list-inline:after { content: ""; clear: both; display: table; }
.list-inline > li { float: left; padding-left: 0; padding-right: 0; }
.container { width: 1300px; max-width: 100%; }
.text-wrap table { width: 100%; }
.text-wrap ul { padding-left: 20px; }
.text-wrap img { max-width: 100%; height: auto !important; }
.img-cover { display: block; overflow: hidden; }
    .img-cover img { width: 100%; height: 100%; -webkit-object-fit: cover; -ms-object-fit: cover; -moz-object-fit: cover; -o-object-fit: cover; object-fit: cover; }
.tbl { display: table; width: 100%; }
    .tbl > .tbl-row { display: table-row; }
        .tbl > .tbl-row > .tbl-cell, .tbl > .tbl-cell { display: table-cell; }
.visible-1024, .visible-1024-inline, .visible-1024-inline-block, .visible-1024-table-cell { display: none !important; }

@media(max-width: 1024px) {
    .hidden-1024 { display: none !important; }
    .visible-1024 { display: block !important; }
    .visible-1024-inline { display: inline !important; }
    .visible-1024-inline-block { display: inline-block !important; }
    .visible-1024-table-cell { display: table-cell !important; }
}

#container { overflow: hidden; width: 100%; }
header { border-bottom: 1px solid #ebebeb; padding: 15px 0; z-index: 100; position: relative; }
    header .tbl-cell { vertical-align: middle; }
        header .tbl-cell.logo { width: 1%; }
            header .tbl-cell.logo a { display: block; width: 205px; }
                header .tbl-cell.logo a img { max-width: 100%; }
        .hot-event { display: inline-block; }
            .hot-event:after { content: ""; clear: both; display: table; }
            .hot-event .img { float: left; width: 58px; height: 58px; border-radius: 50%; overflow: hidden; }
            .hot-event .img img{ width: 100%;height: 100%;}
            .hot-event .desc { margin-left: 58px; display: block; padding-left: 10px; }
            .hot-event h3 { font-size: 23px; color: #767676; text-transform: uppercase; font-weight: 600; margin: 0; text-align: left; line-height: 1.4; }
                .hot-event h3 span { display: block; }
        header .tbl-cell.top-nav { width: 1%; }
    header ul { list-style: none; padding: 0; margin: 0; white-space: nowrap; color: #767676; float: right;     margin-right: 15px; }
        header ul.top { margin-bottom: 12px; }
        header ul:after { content: ""; display: table; clear: both; }
        header ul > li { /* float: left; */ display: inline-block; }
            header ul > li:before { content: "|"; display: inline-block; padding: 0 7px 0 5px; vertical-align: middle; }
            header ul > li:first-child:before, header ul > li:last-child:before { display: none; }
            header ul > li > a { display: inline-block; vertical-align: middle; font-weight: bold; }
    header #search-form, header #hotline { padding-left: 10px; }
        header #search-form form { position: relative; }
        header #search-form input[type=text] { width: 310px; border-radius: 6px; border: 1px solid #ddd; padding: 2px 25px 2px 10px; outline: none !important; transition: ease-in-out .3s; }
            header #search-form input[type=text]:focus { border-color: #767676; }
        header #search-form button { position: absolute; background: none !important; outline: none !important; border: none !important; color: #d9d9d9; top: 0; right: 0; font-size: 18px; }
        header #hotline a { display: block; background: url('../img/hotline-icon.png') 3px 3px no-repeat #407274; color: #fff; height: 31px; line-height: 31px; padding-left: 40px; padding-right: 15px; border-radius: 15px; font-size: 19px; transition: ease-in-out .2s; }
            header #hotline a:hover { background-color: #4a6f72; }

@media(max-width: 1024px) {
    body { padding-top: 46px; }
    header {padding: 5px;background-color: #d8e4e4;position: fixed;z-index: 102;top: 0;left: 0;width: 100%;}
        header .tbl-cell.logo { width: auto; }
            header .tbl-cell.logo a { width: auto; }
            header .tbl-cell.logo img { max-height: 35px; }
        header .navbar-toggle { float: none; padding: 0; vertical-align: middle; margin: 0; width: 1%; }
            header .navbar-toggle .icon-bar { background-color: #fff; }
}

#sticker { position: relative; z-index: 110; background-color: #fff; border-bottom: 1px solid #ebebeb; }
    #sticker.fixed { position: fixed; top: 0; left: 0; width: 100%; }
#sticker-content { margin: 0 auto; max-width: 100%; }
#sticker ul { list-style: none; margin: 0; padding: 0; }
    #sticker ul.main-menu { display: table; width: 100%; }
        #sticker ul.main-menu > li { display: table-cell; position: relative; vertical-align: middle; color: #767676; width: 1%; }
            #sticker ul.main-menu > li > a { font-size: 14px; font-weight: 600; display: block; text-align: center; padding: 10px 10px; margin-right: 1px; }
            #sticker ul.main-menu > li:hover > a, #sticker ul.main-menu > li.active > a { background-color: #407274; color: #fff; transition: ease-in-out .3s; }
        #sticker ul.main-menu ul { position: absolute; top: 100%; left: 0; background-color: #f4f4f4; color: #fff; min-width: 100%; display: none; }
        #sticker ul.main-menu > li:hover > ul { display: block; }
        #sticker ul.main-menu ul > li > a { padding: 5px 10px; display: block; white-space: nowrap; color: #767676; font-size: 13px; font-weight: 600; }
            #sticker ul.main-menu ul > li > a:hover { background-color: #4a6f72; color: #fff; transition: ease-in-out .3s; }

@media(max-width: 1024px) {
    #sticker { padding: 10px 0; background: #f6f6f6; display: none; overflow: auto; position: fixed !important; top: 46px !important; width: 100%; }
    #m-search-form { position: relative; padding: 10px 15px 10px 15px; }
        #m-search-form input[type=text] { /* border: none !important; */ padding: 5px 13px; width: 100%; outline: none !important; background-color: #fafafa; }
        #m-search-form button { color: #fff; background-color: #393939; border: none; margin-left: 0; padding: 7px 12px; }
    #sticker .container { padding: 0; }
    #sticker ul { position: relative; width: 100%; background-color: transparent; z-index: 1; padding: 0; left: 0; top: 0; }
        #sticker ul.main-menu, #sticker ul.main-menu > li { display: block; width: 100%; }
            #sticker ul.main-menu > li { position: relative; }
                #sticker ul.main-menu > li > a { text-transform: uppercase; }
                #sticker ul.main-menu > li > a, #sticker ul.main-menu > li ul > li > a { height: 35px; line-height: 35px; font-size: 14px; border-bottom: 1px solid #dadada; padding: 0; font-weight: normal; color: #333; padding: 0 35px 0 15px; width: 100%; position: relative; z-index: 0; text-align: left; font-weight: normal; }
                #sticker ul.main-menu > li.lang > a { display: inline-block; border: none; width: auto; padding-right: 10px; }
                #sticker ul.main-menu > li > .fa { position: absolute; color: #333; height: 35px; width: 39px; text-align: center; top: 0; right: 0; border-left: 1px solid #dadada; z-index: 1; line-height: 35px; }
    #sticker #sticker-content ul.main-menu > li ul { box-shadow: none; display: none; background-color: transparent; position: static; padding: 0; }
    #sticker ul.main-menu > li ul > li { border: none; }
        #sticker ul.main-menu > li ul > li > a { padding-left: 30px; font-size: 13px; }
}

#banner { margin-bottom: 25px; position: relative; }
    #banner ul { list-style: none; margin: 0; padding: 0; }
    #banner .lSPager { position: absolute; bottom: 10px; left: 50%; transform: translate(-50%,0); z-index: 10; margin: 0 !important; top: auto; }
    #banner .lSSlideOuter .lSPager.lSpg > li { padding: 3px; border-radius: 50%; border: 1px solid transparent; line-height: 0; margin: 0 2px; }
        #banner .lSSlideOuter .lSPager.lSpg > li a { background-color: #fff; }
        #banner .lSSlideOuter .lSPager.lSpg > li.active, #banner .lSSlideOuter .lSPager.lSpg > li:hover { border-color: #fff; }
            #banner .lSSlideOuter .lSPager.lSpg > li.active a, #banner .lSSlideOuter .lSPager.lSpg > li:hover a { background-color: #fff; }

.index-products { margin-bottom: 25px; }
    .index-products .title { text-align: center; margin-bottom: 60px; }
        .index-products .title h2 { font-size: 21px; text-transform: uppercase; font-weight: 600; color: #393939; margin: 0 0 10px; line-height: 1.3; margin-top: 30px}
        .index-products .title p { margin: 0; font-size: 19px; color: #393939; }
    .index-products .grid-item { overflow: hidden; display: block; border: 0.5px solid #fff; padding: 0; }
        .index-products .grid-item:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 0.5; transition: ease-in-out .3s; }
        .index-products .grid-item:hover:after { background-color: #0d878c !important; }
        .index-products .grid-item .desc { position: absolute; top: 50%; left: 0; text-align: center; transform: translate(0,-50%); width: 100%; z-index: 2; color: #fff !important; font-weight: 300; }
            .index-products .grid-item .desc h3 { text-transform: uppercase; font-weight: 300; margin: 0; line-height: 1.5; }
                .index-products .grid-item .desc h3 small { display: block; font-size: 17px; color: #fff; font-weight: 300; }


    .index-products.product-choice .grid-item { width: 25%; }
        .index-products.product-choice .grid-item:after { background-color: #000; }
        .index-products.product-choice .grid-item.video iframe { width: 100%; height: 100%; }
        .index-products.product-choice .grid-item.video:after { display: none; }
        .index-products.product-choice .grid-item.grid-item-width2 { width: 50%; }
        .index-products.product-choice .grid-item .desc h3 { font-size: 29px; margin-bottom: 35px; }
            .index-products.product-choice .grid-item .desc h3 small { margin-bottom: 10px; }
        .index-products.product-choice .grid-item .desc .btn-detail { display: inline-block; border: 1px solid #fff; padding: 5px 40px; max-width: 100%; text-align: center; border-radius: 30px; }
    .index-products.list-products .grid-item { width: 26%; }
        .index-products.list-products .grid-item.grid-item-width2 { width: 37%; }
        .index-products.list-products .grid-item .desc { opacity: 0; transition: ease-in-out .3s; }
        .index-products.list-products .grid-item:hover .desc { opacity: 1; }
        .index-products.list-products .grid-item .desc h3 { font-size: 25px; }
        .index-products.list-products .grid-item.promotion { background-color: #ebebeb; transition: ease-in-out .3s; }
            .index-products.list-products .grid-item.promotion:hover { background-color: #dfdede; }
            .index-products.list-products .grid-item.promotion:after { display: none; }
            .index-products.list-products .grid-item.promotion .desc { opacity: 1; }
                .index-products.list-products .grid-item.promotion .desc, .index-products.list-products .grid-item.promotion .desc h3, .index-products.list-products .grid-item.promotion .desc h3 small { color: #616161; }

@media(max-width: 992px) {
    .index-products .grid-item { width: 33.3333333333% !important; }

}

@media(max-width: 600px) {
    .index-products .grid-item { width: 100% !important; }
}

#index-news, #index-consult { margin-bottom: 25px; }
    #index-news ul, #index-consult ul { list-style: none; padding: 0; margin: 0; }
    #index-news h2, #index-consult h2 { font-weight: 300; font-size: 24px; margin: 0 0 25px; }

    #index-news .news-big .img { position: relative; height: 220px; margin-bottom: 20px; }
    #index-news .news-big .time { color: #fff; background-color: #407274; padding: 3px 15px; position: absolute; bottom: 0; left: 0; z-index: 1; }
    #index-news .news-big h3 { font-size: 16px; font-weight: 600; color: #404040; margin: 0 0 20px; line-height: 1.5; }
    #index-news ul > li, #index-consult .consult { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px dotted #c6c6c6; }
        #index-news ul > li .time { color: #407274; margin-bottom: 5px; }
        #index-news ul > li h3 { font-size: 16px; color: #5b5b5b; line-height: 1.5; margin: 0; }
        #index-news ul > li:last-child, #index-consult .consult:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
        #index-consult .consult:after { content: ""; display: table; clear: both; }
        #index-consult .consult .img { float: left; width: 190px; height: 110px; }
        #index-consult .consult .desc { margin-left: 190px; padding-left: 15px; }
            #index-consult .consult .desc .time { color: #407274; margin-bottom: 5px; }
            #index-consult .consult .desc h3 { font-size: 16px; color: #5b5b5b; margin: 0; line-height: 1.5; width: 385px; max-width: 100%; font-weight: 600; }
            #index-consult .consult .desc .btn-detail { padding: 2px 15px; background-color: #407274; display: inline-block; color: #fff; border-radius: 6px; text-transform: uppercase; margin-top: 10px; }

footer { background-color: #568a8e; padding: 35px 0 45px; color: #fff; }
    footer a:hover, footer a:active, footer a:focus { color: #ddd; }
    footer h3 { font-weight: bold; margin: 0 0 20px; font-size: 16px; text-transform: uppercase; line-height: 1.4; }
    footer td { vertical-align: top; padding: 5px 0; }
    footer tr > td:first-child { width: 30px; }
    footer ul { list-style: none; padding: 0; margin: 0; }
        footer ul > li { padding-left: 15px; position: relative; margin-bottom: 15px; text-transform: uppercase; }
            footer ul > li > a:hover { color: #eeeeee; }

            footer ul > li::before { content: ""; background-color: #fff; position: absolute; top: 9px; left: 0; width: 4px; height: 4px; }
#btn-to-top {position: fixed;right: 20px;bottom: 0;width: 44px;height: 33px;background: url('../img/to-top.png') 0 0 no-repeat;opacity: 0.8;transition: ease-in-out .3s;text-indent: -9999999px;display: none;z-index: 100;}
    #btn-to-top:hover { opacity: 1; }

#fixed-icon {right: 0;top: 50%;transform: translate(0,-50%);position: fixed;z-index: 98;}
    #fixed-icon ul { list-style: none; padding: 0; margin: 0; }
        #fixed-icon ul > li { display: block; padding: 1px 0; }
            #fixed-icon ul > li > a { width: 36px; height: 36px; text-align: center; line-height: 36px; border-radius: 5px 0 0 5px; color: #fff; display: block; font-size: 18px; }
                #fixed-icon ul > li > a:hover { transition: ease-in-out .3s; }
                #fixed-icon ul > li > a.cart { background-color: #0d878c; }
                    #fixed-icon ul > li > a.cart:hover { background-color: #5e8e35; }
                #fixed-icon ul > li > a.facebook { background-color: #3962a1; }
                    #fixed-icon ul > li > a.facebook:hover { background-color: #2d5189; }
                #fixed-icon ul > li > a.twitter { background-color: #1cb7eb; }
                    #fixed-icon ul > li > a.twitter:hover { background-color: #189cc9; }
                #fixed-icon ul > li > a.google { background-color: #e3411f; }
                    #fixed-icon ul > li > a.google:hover { background-color: #cb3515; }
                #fixed-icon ul > li > a.youtube { background-color: #ca3737; }
                    #fixed-icon ul > li > a.youtube:hover { background-color: #aa2727; }
                #fixed-icon ul > li > a.phone { background-color: #ff732e; }
                    #fixed-icon ul > li > a.phone:hover { background-color: #e46628; }

#breadcrumb { padding: 15px 0; font-size: 13px; }
    #breadcrumb .breadcrumb { background-color: transparent; padding: 0; margin: 0; }
        #breadcrumb .breadcrumb > li + li:before { font: normal normal normal 14px/1 FontAwesome; content: "\f105"; }

#content.contact-content { padding-bottom: 50px; }
    #content.contact-content .tbl-cell { vertical-align: top; height: 100%; width: 50%; }
    #content.contact-content .tbl > .tbl-cell:first-child { padding-right: 10px; }
    #content.contact-content .tbl > .tbl-cell:last-child { padding-left: 10px; }
    #content.contact-content .tbl-cell .img-cover { height: 414px; }
    #content.contact-content h2 { font-weight: 600; text-transform: uppercase; margin: 0 0 15px; line-height: 1.5; font-size: 16px; }
    #content.contact-content table tr > td { padding: 10px 0; vertical-align: top; }
        #content.contact-content table tr > td:last-child { padding-left: 5px; padding-right: 0; }
        #content.contact-content table tr > td:first-child { padding-right: 5px; padding-left: 0; }
    /*#content.contact-content table tr > td:first-child:last-child { padding: 0; }*/
    #content.contact-content .input-wrap { position: relative; }
        #content.contact-content .input-wrap label { position: absolute; top: 5px; left: 10px; color: #000000; font-weight: normal; z-index: 11; }
            #content.contact-content .input-wrap label.error { color: red !important; font-size: 12px !important; font-style: italic !important; top: 100%; }
    #content.contact-content textarea { height: 142px; }

@media(max-width: 768px) {
    #content.contact-content form .form-btn-group { margin-top: 15px; display: block; width: 100%; }
}


#content .title { margin-bottom: 15px; }
    #content .title h1 { font-weight: 600; font-size: 27px; margin: 0; line-height: 1.3; white-space: nowrap; }
    #content .title .tbl-cell { vertical-align: middle; }
        #content .title .tbl-cell.title-h1 { padding-right: 10px; width: 1%; }
        #content .title .tbl-cell.total-product .total-count { padding-left: 10px; border-left: 1px solid #ddd; }
        #content .title .tbl-cell.filter { width: 220px; }

@media(max-width: 768px) {
    #content .title h1 { white-space: unset; }
    #content .title .tbl:after { content: ""; clear: both; display: table; }
    #content .title .tbl, #content .title .tbl > .tbl-cell { display: block; width: 100% !important; }
        #content .title .tbl > .tbl-cell { float: left; text-align: left; }
    #content .title .tbl-cell.total-product, #content .title .tbl-cell.filter { margin-top: 10px; }
}

#content .product-list .product { margin-bottom: 20px; height: 343px; overflow: hidden; }
    #content .product-list .product .img { height: 270px; position: relative; }
    #content .product-list .product:hover .img img { transform: scale(1.1); transition: ease-in-out .3s; }
    #content .product-list .product .desc { padding: 12px; background-color: #fff; }
        #content .product-list .product .desc h3 { font-size: 16px; font-weight: 600; color: #000000; margin: 0 0 10px; }
            #content .product-list .product .desc h3 a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
        #content .product-list .product .desc .price { display: table; }
            #content .product-list .product .desc .price span { display: table-cell; vertical-align: middle; font-weight: 600; }
            #content .product-list .product .desc .price .new { font-size: 16px; }
            #content .product-list .product .desc .price .old { font-size: 14px; text-decoration: line-through; color: #696969; }
            #content .product-list .product .desc .price span + span { padding-left: 10px; }
    #content .product-list .product .overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(120, 191, 218, 0.62); color: #fff; font-size: 15px; padding: 12px; opacity: 0; }
        #content .product-list .product .overlay .overlay-link { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; z-index: 0; background: transparent; text-indent: -99999px; }
        #content .product-list .product .overlay table { height: 100%; width: 100%; }
            #content .product-list .product .overlay table tr:first-child > td { height: 1%; }
                #content .product-list .product .overlay table tr:first-child > td:last-child { text-align: right; }
            #content .product-list .product .overlay table tr:first-child .btn { padding: 3px 10px; border-radius: 4px; }
            #content .product-list .product .overlay table tr:first-child > td:first-child .btn { padding: 3px 8px; }
            #content .product-list .product .overlay table tr:last-child > td { height: 100%; vertical-align: middle; padding: 10px 0; }
            #content .product-list .product .overlay table .short-desc { max-height: 100%; overflow: auto; }
    #content .product-list .product:hover .overlay { opacity: 1; transition: ease-in-out .3s; }
    #content .product-list .product:hover .desc { background-color: #0d878c; transition: ease-in-out .3s; }
        #content .product-list .product:hover .desc h3 a, #content .product-list .product:hover .desc .price span { color: #fff !important; transition: ease-in-out .3s; }
.social-share { position: relative; display: inline-block; }
    .social-share:hover .social { display: block; }
    .social-share .social { position: absolute; top: 0; left: 100%; padding-left: 5px; display: none; }
        .social-share .social ul { list-style: none; margin: 0; padding: 0; background-color: #fff; border: 1px solid #ccc; padding: 0; position: relative; border-radius: 4px; }
            .social-share .social ul a { color: #1d1d1d; white-space: nowrap; display: block; padding: 2px 5px; font-size: 13px; }
                .social-share .social ul a:hover { background-color: #eee; }
                .social-share .social ul a .fa { width: 18px; height: 18px; line-height: 18px; text-align: center; color: #fff; font-size: 11px; border-radius: 2px; vertical-align: middle; }
                    .social-share .social ul a .fa.fa-facebook { background-color: #3b5998; }
                    .social-share .social ul a .fa.fa-twitter { background-color: #00aced; }
                    .social-share .social ul a .fa.fa-google-plus { background-color: #db4437; }
                    .social-share .social ul a .fa.fa-rss { background-color: #fd8c00; }
            .social-share .social ul:after, .social-share .social ul:before { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
            .social-share .social ul:after { border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 5px; top: 9px; }
            .social-share .social ul:before { border-color: rgba(204, 204, 204, 0); border-right-color: #ccc; border-width: 6px; top: 8px; }

#content.news-content { padding-bottom: 30px; }
    #content.news-content .news { border-bottom: 1px dotted #ddd; }
        #content.news-content .news:after { content: ""; clear: both; display: table; }
        #content.news-content .news .img { float: left; overflow: hidden; }
        #content.news-content .news:hover .img img { transition: ease-in-out .3s; transform: scale(1.1); }
        #content.news-content .news .desc { padding-left: 15px; }
        #content.news-content .news .time { color: #8b8b8b; }
    #content.news-content .top-news { position: relative; margin-bottom: 20px; }
        #content.news-content .top-news ul.slider > li { position: relative; }
            #content.news-content .top-news ul.slider > li .img { height: 505px; }
            #content.news-content .top-news ul.slider > li .desc { position: absolute; bottom: 0; left: 0; padding: 15px 20px; background-color: rgba(0, 0, 0, .5); color: #fff; width: 100%; }
                #content.news-content .top-news ul.slider > li .desc h3 { font-size: 23px; font-weight: 600; line-height: 1.5; margin: 0 0 5px; }
        #content.news-content .top-news .lSPager { position: absolute; top: 0; right: 0; z-index: 11; margin: 0 !important; }
            #content.news-content .top-news .lSPager a { background-color: #d2d2d2; width: 10px; height: 10px; transition: none; }
            #content.news-content .top-news .lSPager > li.active > a, #content.news-content .top-news .lSPager > li > a:hover { background-color: #0d878c; transition: ease-in-out .3s; }
    #content.news-content .news-list .news { margin-bottom: 20px; padding-bottom: 20px;height:170px }
        #content.news-content .news-list .news .img { width: 308px; height: 177px; }
        #content.news-content .news-list .news .desc { margin-left: 308px; }
        #content.news-content .news-list .news h3 { font-size: 18px; font-weight: 600; margin: 0 0 10px; }
        #content.news-content .news-list .news .time { margin-bottom: 15px; }

    #content.news-content .sidebar .hot-news { background-color: #ececec; padding: 20px; margin-bottom: 20px; }
        #content.news-content .sidebar .hot-news h2 { margin: 0 0 15px; padding-bottom: 8px; border-bottom: 3px solid #0d878c; font-size: 21px; font-weight: 600; color: #393939; }
        #content.news-content .sidebar .hot-news ul { list-style: none; margin: 0; padding: 0; }
            #content.news-content .sidebar .hot-news ul > li { padding-bottom: 10px; margin-bottom: 10px; }
                #content.news-content .sidebar .hot-news ul > li:last-child { margin-bottom: 0; border-bottom: 0; }
                #content.news-content .sidebar .hot-news ul > li .img { width: 85px; height: 85px; }
                #content.news-content .sidebar .hot-news ul > li .desc { margin-left: 85px; }
                    #content.news-content .sidebar .hot-news ul > li .desc h3 { font-size: 14px; font-weight: 600; margin: 0 0 10px; color: #000; line-height: 1.4; }

.video { position: relative; line-height: 0; padding-bottom: 56%; height: 0; }
    .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media(max-width: 1280px) {
    #content.news-content .top-news ul.slider > li .img { height: 350px; }
    #content.news-content .news-list .news .img { width: 150px; height: 150px; }
    #content.news-content .news-list .news .desc { margin-left: 150px; }
}

@media(max-width: 992px) {
    #content.news-content .top-news ul.slider > li .img { height: 300px; }
    #content.news-content .top-news ul.slider > li .desc { position: static; }
    #content.news-content .news-list .news .img, #content.news-content .news-list .news .desc { display: block; width: 100%; float: none; margin: 0; padding: 0; }
    #content.news-content .news-list .news .img { height: 250px; margin-bottom: 15px; }
    #content.news-content .news-list .news{height: auto;}
    #content.news-content .news-list .news .color-green{line-height: 24px;max-height: 48px;overflow: hidden;display: block}
    #content.news-content .news-list .news .short-desc p{line-height: 18px;max-height: 36px;overflow: hidden;display: block}
}

@media(max-width: 768px) {
    #content.news-content .tbl, #content.news-content .tbl > .tbl-cell { display: block; width: 100% !important; }
    #content.news-content .top-news ul.slider > li .img { height: 250px; }
}


#content.product-content #productGallery, #content.product-content #productThumb { position: relative; }
    #content.product-content #productGallery .slider > li { position: relative; }
        #content.product-content #productGallery .slider > li .desc { position: absolute; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .5); color: #fff; padding: 25px 0 15px; width: 100%; }
            #content.product-content #productGallery .slider > li .desc h3 { font-size: 20px; margin: 0 0 5px; line-height: 1.5; }
#content.product-content .slider-action > a { position: absolute; top: 50%; opacity: 0.7; display: block; z-index: 11; background-image: url('../img/product-gallery-action.png'); background-size: auto 100%; -webkit-background-size: auto 100%; -moz-background-size: auto 100%; -ms-background-size: auto 100%; -o-background-size: auto 100%; }
    #content.product-content .slider-action > a.prev { background-position: top left; left: 0; }
    #content.product-content .slider-action > a.next { background-position: top right; right: 0; }
    #content.product-content .slider-action > a:hover { opacity: 1; transition: opacity ease-in-out .3s; }
#content.product-content #productGallery .slider-action > a { width: 33px; height: 76px; margin-top: -38px; }
    #content.product-content #productGallery .slider-action > a.prev { left: 40px; }
    #content.product-content #productGallery .slider-action > a.next { right: 40px; }

@media(max-width: 992px) {
    #content.product-content #productGallery .slider > li .desc { position: static; }
}

#content.product-content { padding-bottom: 30px; }
    #content.product-content #productThumb { padding: 15px 0; background-color: #d5d5d5; }
    #content.product-content.detail-content #productThumb { padding: 15px 30px; }
    #content.product-content #productThumb .container { position: relative; padding: 0 25px; }
    #content.product-content #productThumb .slider > li { height: 80px; border: 1px solid #fff; border-radius: 1px; overflow: hidden; }
        #content.product-content #productThumb .slider > li.active { border-color: #0d878c; }
        #content.product-content #productThumb .slider > li .img { height: 80px; }
    #content.product-content #productThumb .slider-action > a { width: 18px; height: 41px; margin-top: -20.5px; }
        #content.product-content #productThumb .slider-action > a.prev { left: 5px; }
        #content.product-content #productThumb .slider-action > a.next { right: 5px; }
    #content.product-content .product-short-desc { padding: 25px 0; }
    #content.product-content .categories .category { position: relative; display: block; margin-bottom: 20px; }
        #content.product-content .categories .category .img { height: 270px; }
        #content.product-content .categories .category .desc { position: absolute; z-index: 1; width: 100%; bottom: 0; left: 0; color: #fff; background: rgba(255,255,255,0); background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.88) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.88))); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.88) 100%); background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.88) 100%); background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.88) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.88) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 ); padding: 15px; opacity: 1; }
            #content.product-content .categories .category .desc h3 { font-size: 19px; font-weight: 600; margin: 0; }
        #content.product-content .categories .category:hover .desc { transition: ease-in-out .3s; opacity: 0.8; }

#content.detail-content .product-info { margin-top: 30px; }
    #content.detail-content .product-info h2 { font-size: 21px; color: #393939; margin: 20px 0; font-weight: 600; padding-top: 20px; border-top: 1px solid #ddd; }
    #content.detail-content .product-info .row { margin: 0 -0.5px; }
        #content.detail-content .product-info .row > .col-xs-12 { padding: 0 0.5px; }
#content.detail-content .info { margin-bottom: 30px; display: block; cursor: pointer; position: relative; }
    #content.detail-content .info .img { height: 195px; margin-bottom: 15px; }
    #content.detail-content .info .desc { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); transition: ease-in-out .3s; }
    #content.detail-content .info:hover .desc { background-color: rgba(120, 177, 71, 0.5); }
    #content.detail-content .info .desc h3 { position: absolute; top: 50%; left: 0; width: 100%; transform: translate(0,-50%); color: #fff; text-transform: uppercase; font-weight: 300; margin: 0; line-height: 1.5; text-align: center; font-size: 18px; padding: 0 15px; }
#content.detail-content .same-product h2 { font-size: 21px; color: #393939; margin: 20px 0; font-weight: 600; padding-top: 20px; border-top: 1px solid #ddd; }
#content.detail-content .same-product .img { height: 128px;position: relative }
#content.detail-content .same-product .img a:after{content:"";background-color: rgba(68, 135, 138, 0.5); position: absolute;top: 0;left: 0;z-index: 1;width: 100%;height: 100%;opacity: 0;transition: ease-in-out .3s}
#content.detail-content .same-product .slider>li:hover .img a:after{opacity: 1}
#content.detail-content .same-product .desc{ padding-top: 10px;}
#content.detail-content .same-product .desc h3 { font-size: 14px; color: #000000; font-weight: 600; margin: 0 0 5px; }
    #content.detail-content .same-product .desc h3 a {line-height: 17px; text-overflow: ellipsis;overflow: hidden;display: block;}
#content.detail-content .same-product .desc .new-price { font-size: 14px; font-weight: 600; }
#content.detail-content .same-product .desc .old-price { font-size: 12px; font-weight: 600; color: #696969; text-decoration: line-through; }

#content.detail-content h1 { font-size: 27px; font-weight: 600; color: #393939; margin: 0 0 15px; }
#content.detail-content .product-code { margin-top: 5px; }
#content.detail-content .rate { padding-bottom: 5px; border-bottom: 1px solid #ddd; }
.rate ul { margin-bottom: 0; }
    .rate ul > li { margin-right: 4px; }
        .rate ul > li > a { color: #7f7f7f; }
        .rate ul > li.active > a { color: #407274; }
#content.detail-content .product-characteristics { list-style: none; padding: 10px 0; margin: 0; }
    #content.detail-content .product-characteristics > li { line-height: 2; }
#content.detail-content table.product-size { width: 100%; border: 1px solid #ddd; border-width: 1px 0; }
    #content.detail-content table.product-size th { width: 1%; padding-top: 10px !important; }
    #content.detail-content table.product-size th, #content.detail-content table.product-size td { padding: 5px 0; white-space: nowrap; }
    #content.detail-content table.product-size tr > th:first-child, #content.detail-content table.product-size tr > td:first-child { padding-right: 10px; width: auto; }
    #content.detail-content table.product-size tr > th:last-child, #content.detail-content table.product-size tr > td:last-child { padding-left: 10px; text-align: right; padding-left: 25px; }
    #content.detail-content table.product-size tr:last-child > td { padding-bottom: 15px !important; }
.wan-spinner { border: 1px solid #dddddd; display: inline-table; }
    .wan-spinner .minus, .wan-spinner .plus, .wan-spinner input { height: 25px; line-height: 1em; padding: 5px; text-align: center; display: table-cell; }
    .wan-spinner .minus, .wan-spinner .plus { color: #333333; cursor: pointer; text-decoration: none; width: 25px; background-color: #f5f5f5; font-weight: bold; }
    .wan-spinner input { border: none; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; margin: 0; width: 40px; font-size: 14px; }

#content.detail-content .product-total { color: #ec1b1b; font-size: 25px; margin: 15px 0; }

#content.detail-content .btn-add-cart { position: relative; padding: 12px 15px 12px 65px; color: #fff; font-size: 19px; display: inline-block; background-color: #2b8d9a; min-width: 210px; max-width: 100%; text-align: center; margin-bottom: 20px; }
    #content.detail-content .btn-add-cart:before { content: ""; display: block; position: absolute; width: 50px; height: 100%; background: url('../img/cart-icon.png') center no-repeat #4a6f72; top: 0; left: 0; }
    #content.detail-content .btn-add-cart:hover { background-color: #4a6f72; transition: ease-in-out .3s; }

 #content.detail-content .btn-download-file:before { content: ""; display: block; position: absolute; width: 50px; height: 100%; background: url('../img/download-icon.png') center no-repeat #767676; top: 0; left: 0; }
 #content.detail-content .btn-download-file:hover{background-color: #767676 !important; transition: ease-in-out .3s; }
#content.detail-content .criteria { list-style: none; margin: 0; padding: 0; margin: 0 -5px; }
    #content.detail-content .criteria:after { content: ""; display: table; clear: both; }
    #content.detail-content .criteria > li { display: inline-block; float: left; width: 33.3333333%; padding: 0 5px; }
        #content.detail-content .criteria > li span {display: table-cell;vertical-align: middle;padding-left: 3px;font-size: 14px;font-weight: bold;text-transform: uppercase;letter-spacing: -1px;color: #4a6f72;}
            #content.detail-content .criteria > li span.icon {display: table-cell;width: 40px;vertical-align: top;padding-left: 0;}
                #content.detail-content .criteria > li span.icon .fa {width: 40px;height: 40px;line-height: 40px;background-color: #4a6f72;color: #fff;border-radius: 50%;text-align: center;font-size: 24px;}
#content.detail-content h2 { font-size: 18px; font-weight: bold; margin: 0 0 15px; }

#content.detail-content .fb-comment { margin-top: 15px; }


.cart-items .cart-header { position: relative; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #ddd; }
.cart-items .btn-delete { background: url('../img/close.png') no-repeat 0px 0px; cursor: pointer; width: 28px; height: 28px; position: absolute; right: 0px; top: 0px; opacity: 0.8; }
    .cart-items .btn-delete:hover { opacity: 1; transition: ease-in-out .3s; }
.cart-items .cart-sec { height: 100%; }
    .cart-items .cart-sec .tbl-cell { vertical-align: top; }
    .cart-items .cart-sec .cart-item { width: 250px; height: 100%; }
        .cart-items .cart-sec .cart-item .img-cover { height: 150px; border: 1px solid #ddd; }
    .cart-items .cart-sec .cart-item-info { padding-left: 20px; }
        .cart-items .cart-sec .cart-item-info h3 { font-size: 16px; font-weight: 600; margin: 0; }
        .cart-items .cart-sec .cart-item-info .product-ref { display: table; width: 100%; }
            .cart-items .cart-sec .cart-item-info .product-ref span, .cart-items .cart-sec .cart-item-info .product-ref .rate { display: table-cell; vertical-align: middle; padding: 10px 0; }
            .cart-items .cart-sec .cart-item-info .product-ref span { width: 1%; white-space: nowrap; }
    .cart-items .cart-sec .qty { display: table; width: 100%; padding: 0; list-style: none; margin: 0; }
        .cart-items .cart-sec .qty > li { display: table-cell; padding: 5px 0; }
            .cart-items .cart-sec .qty > li .wan-spinner { display: inline-table; }
            .cart-items .cart-sec .qty > li.price { text-align: right; }
    .cart-items .cart-sec hr { margin: 10px 0; }

#content.cart-content { padding-bottom: 40px; }
    #content.cart-content .continue { background: #568a8e; padding: 10px 20px; font-size: 1em; text-decoration: none; display: block; text-align: center; margin-bottom: 20px; color: #fff; outline: none !important; border: none !important; width: 100%; }
        #content.cart-content .continue.with-icon { position: relative; padding-left: 40px; }
            #content.cart-content .continue.with-icon .fa { width: 40px; height: 100%; position: absolute; top: 0; left: 0; background: #4a6f72; text-align: center; line-height: 42px; font-size: 17px; }
    #content.cart-content a.continue:hover { background: #4a6f72; }
.cart-total .price-details { border-bottom: 1px solid #DDD9D9; padding-bottom: 20px; }
    .cart-total .price-details h3 { color: #000; font-size: 1.1em; margin-bottom: 1em; }
    .cart-total .price-details span { width: 50%; float: left; font-size: 13px; color: #000; line-height: 1.8em; }
.cart-total ul.total_price { padding: 0; margin: 15px 0; list-style: none; }
    .cart-total ul.total_price li.last_price { width: 50%; float: left; font-size: 16px; }
        .cart-total ul.total_price li.last_price h4 { margin: 0; }
#content.cart-content .payment-form { padding: 15px; border: 1px solid #ddd; margin-bottom: 20px; }
    #content.cart-content .payment-form h2 { margin: 0 0 15px; text-align: center; text-transform: uppercase; padding-bottom: 15px; border-bottom: 1px dashed #eee; font-size: 25px; font-weight: 600; }

@media(max-width: 600px) {
    .cart-items .cart-sec, .cart-items .cart-sec > .tbl-cell { display: block; padding: 0; width: 100%; }
        .cart-items .cart-sec .cart-item { height: auto; margin-bottom: 15px; }
            .cart-items .cart-sec .cart-item .img-cover { height: 200px; }
        .cart-items .cart-sec .qty > li { line-height: 2; }
}

.error { color: red; font-size: 12px; font-weight: normal; font-style: italic; }

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe {max-width: 100% !important;display: block !important;position: static !important;}

#sale-nav {width: 100%;background-color: rgba(0,0,0,.7);position: absolute;bottom: 0;z-index: 99;display: none;text-align: center;padding: 15px 0;}
#sale-nav .hot-event h3{color: #fff}
/*#sale-nav h3{text-transform: uppercase;margin: 0;line-height: 1.3;font-weight: bold;font-size: 35px;color: #c53441;}
#sale-nav h3 span{ color: #fff;font-weight: normal}*/
header .tbl-cell.top-nav.block-mobile{display: none}
@media(max-width: 1024px) {
    header .tbl-cell.top-nav.block-mobile{display: table-cell}
}
@media (max-width: 992px) {
    #sale-nav .hot-event .img{width: 30px;height: 30px;}
    #sale-nav .hot-event .desc {
        margin-left: 30px;
    }
    #sale-nav .hot-event h3{font-size: 16px;}
    .supp-fixed{right: 20px !important}
}

#content img {
    max-width: 100%;
}
